<ion-content id="master" no-bounce padding>
  <ion-button fill="clear" id="close" href="/" goBack><ion-icon name="arrow-back"></ion-icon></ion-button>

  <p>Sign Up</p>
  <p id="sub">Join the family.</p>

    <div class="list">
      <ion-item>
        <ion-input class="title" type="email" placeholder="Email Address" [(ngModel)]="newUser.email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input class="title" placeholder="Password (6+ characters)" clear-input type="password" [(ngModel)]="newUser.password"></ion-input>
      </ion-item>
    </div>
    
    <div class="button"><ion-button class="login" (click)="addUser(newUser)">CREATE ACCOUNT</ion-button></div>
</ion-content>

    
